on:
  schedule:
    - cron: '0 1,3,11,13,15,17,19,21,23 * * 1-5' # every 2 hours on weekdays(06:00-22:00 EDT)
    - cron: '0 19 * * 0,6' #  on weekends(EDT, only 14:00)
    #- cron: '*/30 * * * *' # every 30 minutes
  workflow_dispatch:
  push:
    branches: main
    paths:
      - '1_checker/**'
      - '.github/workflows/check.yml'

name: detecting rogue sensor

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      #actions: write
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install ubuntu dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with: 
          packages: >- 
            libcurl4-openssl-dev 
#            libharfbuzz-dev libfribidi-dev
#            libudunits2-dev libgdal-dev
          version: 1

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          Ncpus: '4'

      - name: Install R dependency
        uses: r-lib/actions/setup-renv@v2
        with:
          profile: '"packages"'
          cache-version: 2

      - name: run main.R
        env:
          SECRET: ${{ secrets.SECRET }}
          G_SHEET_KEY: ${{ secrets.G_SHEET_KEY }}
          #DATABASE: ${{ secrets.DATABASE }}
          #SENSOR_IDX: ${{ secrets.SENSOR_IDX }}
          #READ_KEY: ${{ secrets.READ_KEY }}
          #TOKEN_GH: ${{ secrets.TOKEN_GH }} 
        run: Rscript --verbose ./1_checker/main.R
      
      - name: Check for msg file
        id: check_file
        run: |
          if [ -f msg ]; then
            echo "File exists"
            echo "file_exists=true" >> $GITHUB_ENV
            content=$(cat msg)
            echo "message_content=${content}" >> $GITHUB_ENV
          else
            echo "File does not exist"
            echo "file_exists=false" >> $GITHUB_ENV
          fi
      
      - name: send message
        if: env.file_exists == 'true'
        uses: appleboy/discord-action@master
        with:
          webhook_id: ${{ secrets.WEBHOOK_ID }}
          webhook_token: ${{ secrets.WEBHOOK_TOKEN }}
          color: "#48f442"
          username: "GitHub Bot"
          file: "./list.csv"
          message: ${{ env.message_content }}

          
          
